@import "vars";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $main_font;
    color: $secondary_text;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
            text-size-adjust: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: $primary;
    color: #fff;
    padding: 0.5em $intro_padding_horizontal_large;

    &.shadow {
        -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    }

    .logo {
        font-size: 2em;
        font-weight: normal;
        font-family: $logo_font;
        a {
            display: flex;
            align-items: center;
            color: $grey_light;
            text-decoration: none;
            text-transform: uppercase;
            &:hover { color: $yellow; }

            img {
                height: 2em;
            }
            span {
                padding-left: .2em;
            }
        }
    }


    nav {
        overflow: hidden;
        ul {
            li {
                display: inline-block;
                margin-left: 1em;
                a {
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

.menu_button {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 2em;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    &::after { content: "☰"; }
}

.menu_checkbox {
    display: none;
    &:checked {
        & ~ .dropdown {
            transition: height 0.2s, opacity 0.3s linear;
            height: 15em;
            opacity: 1;
            margin-top: 1em;
        }
        & + .menu_button:after { content: "✕"; }
    }
}

section {
    padding: $section_padding_vertical_large $section_padding_horizontal_large; //10em 20em

    h2 {
        width: 100%;
        font-size: 2em;
        color: $black;
        margin-bottom: 2em;
        font-family: $main_font
    }

    p { text-align: justify; }

    .section_content {
        display: flex;
        margin: 0 auto;
        max-width: 75em;
        align-items: center;
    }

    ul {
        list-style: none;
        li { 
            margin: 1em 0;
            line-height: 1.7em;
            &::before {
                content: "➤";
                margin-right: .5em;
                color: $primary;
            }   
        }
    }

    &.two_columns {
        .section_content {
            .smaller_col {
                width: 40%;
            }

            .wider_col {
                width: 60%;
                border-right: 1px solid #ccc;
                padding-right: 3em;
            }
        }
    }
}

// -------------------------------------------------------------------------------------------- RESPONSIVE STYLES

// Large tablet version
@include large {
    section {
        padding: $section_padding_horizontal_large/2 $section_padding_horizontal_large/2;
    }
    header { padding: .5em 5em; }
}

// Tablet version
@include medium {
    section { padding: $section_padding_vertical_large/2; }

    header {
        .menu_button {
            display: block;
            float: right;
        }

        nav {
            width: 100%;
            height: 0em;
            opacity: 0;
            transition: height 0.2s, opacity 0s linear;

            ul {
                width: 100%;
                text-align: center;

                li {
                    display: block;
                    padding: .8em .5em;
                }
            }
        }
    }
}

// Phone version
@include small {
    section {
        padding: $section_padding_horizontal_large/10;;
        text-align: center;

        &.two_columns {
            .section_content {
                flex-direction: column;
                .wider_col, .smaller_col { width: 100%; }
                .first {
                    margin-bottom: 2em;
                    border-right: none;
                    padding: 0;
                }
    
                .second {
                    border-top: 1px solid #ccc;
                    padding-top: 2em;
                }
            }
        }
    }

    header {
        padding: .5em 1em;
        nav { ul { text-align: left; } }
    }
}
