$very_dark_grey: #303030;
$primary: #E91E63;
$primary_dark:#C2185B;
$primary_light: #F8BBD0;
$accent: #2196F3;
$secondary_text: #757575;
$grey_light: #f1f2f7;
$yellow: #ffce76;
$red: #FF5722;
$green: #8BC34A;

$logo_font: 'Fjalla One', sans-serif;
$main_font: 'Roboto', sans-serif;

$intro_padding_horizontal_large: 10em;
$section_padding_horizontal_large: 20em;
$section_padding_vertical_large: 10em;
