@import "vars";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $main_font;
    color: $secondary_text;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: $primary;
    color: #fff;
    padding: 0.5em $intro_padding_horizontal_large;
    @include clearfix;

    &.shadow {
        -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    }

    .logo {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        float: left;
        a {
            color: $yellow;
            text-decoration: none;
            float: left;

            img {
                height: 2em;
                float: left;
            }
            span {
                display: table-cell;
                vertical-align: middle;
                height: 2em;
                padding-left: .2em;
            }
        }
    }


    nav {
        float: right;
        ul {
            li {
                display: inline-block;
                margin-left: 1em;
                a {
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                    line-height: 3em;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }

    .menu_button {
        display: none;
        cursor: pointer;
        font-size: 1.5em;
        line-height: 2em;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        &::after { content: "☰"; }
    }

    .menu_checkbox {
        display: none;
        &:checked {
            & ~ nav {
                transition: height 0.2s, opacity 0.3s linear;
                height: 15em;
                opacity: 1;
                margin-top: 1em;
            }
            & + .menu_button:after { content: "✕"; }
        }
    }
}

section {
    padding: $section_padding_vertical_large $section_padding_horizontal_large; //10em 20em

    h2 {
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 2em;
    }

    p { text-align: justify; }

    .section_content {
        display: flex;
        margin: 0 auto;
        max-width: 75em;
        align-items: center;
    }

    &.two_columns {
        .section_content {
            .smaller_col {
                width: 40%;
            }

            .wider_col {
                width: 60%;
                border-right: 1px solid #ccc;
                padding-right: 3em;
            }
        }
    }
}

.intro {
    display: flex;
    align-items: center;
    height: 90vh;
    padding: $intro_padding_horizontal_large;
    background-color: $primary_dark;
    overflow: hidden;
    position: relative;
    text-align: left;
    color: #fff;

    .intro_image {
        position: absolute;
        height: 80%;
        width: 122vh;
        right: -40vh;
        bottom: 0;
    }

    .intro_content {
        width: 40%;
        h1, p {
            font-weight: normal;
            &.cta {
                color: $yellow;
                margin-top: .5em;
                font-size: 1.2em;
            }
        }
    
        h1 {
            margin-bottom: 0.3em;
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bold;
            color: $yellow;
        }
    
        .google_play_badge {
            display: inline-block;
            min-width: 15em;
            width: 30%;
            max-width: 25em;
            margin-top: 2em;
            img {
                width: 100%;
            }
        }

    }

}

#about {
    ul {
        list-style: none;
        li { 
            margin: 1em 0;
            line-height: 1.7em;
            &::before {
                content: "▶";
                margin-right: .5em;
                color: $primary;
            }   
        }
    }

    .screenshot {
        text-align: right;
        img {
            width: 70%;
            max-width: 30em;
        }
    }
}


#pricing {
    text-align: center;
    background-color: $grey_light;

    .section_content {
        align-items: flex-start;
    }

    .pricing_table {
        margin: 0 auto;
        border-collapse: collapse;

        thead {
            tr {
                th {
                    color: #fff;
                    border-radius: 10px;
                    padding: .5em 3em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img { width: 4em; }
                    span {
                        margin-left: .5em;
                        font-size: 1.5em;
                    }
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #ccc;
                &.first {
                    td { 
                        border-radius: 10px 10px 0 0; 
                    }
                 }
                &.no_border { 
                    border-bottom: none; 
                   td {  border-radius: 0 0 10px 10px; }
                }
                &.spacer {
                    height: .5em;
                    border: none;
                }
                td { 
                    padding: .7em 1em; 
                    background-color: #fff;
                    box-shadow: $elevation_2dp;
                }
                &:hover td {
                    box-shadow: $elevation_3dp;
                }
            }
        }
        tfoot {
            tr {
                &.cost {
                    td {
                        font-size: 1.2em;
                        border-radius: 10px 10px 0 0;
                    }
                }
                &.play_store {
                    td {
                        border-radius: 0 0 10px 10px;
                    }
                }
                td {
                    padding: .5em;
                    img { width: 10em; }
                }
            }
        }
    }

    .pricing_lite {
        width: 50%;
        .pricing_table {
            thead {
                th { background-color: $lite_primary; }
            }
            tfoot {
                tr.cost {
                    td { 
                        color: $lite_primary_dark;
                        background-color: $lite_primary_light; 
                    }
                }
                td {
                    background-color: $lite_primary;
                }
            }
        }
    }

    .pricing_pro {
        width: 50%;
        .pricing_table {
            thead {
                th { background-color: $primary; }
            }
            tfoot {
                tr.cost {
                    td { 
                        color: $primary_dark;
                        background-color: $primary_light;
                    }
                }
                td {
                    background-color: $primary;
                }
            }
        }

    }
}

// -------------------------------------------------------------------------------------------- RESPONSIVE STYLES

// Large tablet version
@include large {
    section {
        padding: $section_padding_horizontal_large/2 $section_padding_horizontal_large/2;
    }

    header { padding: .5em 5em; }

    .intro {
        padding: $intro_padding_horizontal_large/2;
        .intro_image { transform: translateX(15%); }
    }
}

// Tablet version
@include medium {
    section { padding: $section_padding_vertical_large/2; }

    header {
        .menu_button {
            display: block;
            float: right;
        }

        nav {
            width: 100%;
            height: 0em;
            opacity: 0;
            transition: height 0.2s, opacity 0s linear;

            ul {
                width: 100%;
                text-align: center;

                li {
                    display: block;
                }
            }
        }
    }

    .intro {
        text-align: center;
        height: auto;
        .intro_image {
            display: none;
        }
        .intro_content {
            width: 100%;
            flex-direction: column;       
        }
    }

}

// Phone version
@include small {
    section {
        padding: $section_padding_horizontal_large/10;;
        text-align: center;

        &.two_columns {
            .section_content {
                flex-direction: column;
                .wider_col, .smaller_col { width: 100%; }
                .first {
                    margin-bottom: 2em;
                    border-right: none;
                    padding: 0;
                }
    
                .second {
                    border-top: 1px solid #ccc;
                    padding-top: 2em;
                }
            }
        }
    }
    header {
        padding: .5em 1em;
        nav { ul { text-align: left; } }
    }

    .intro {
        padding: $section_padding_horizontal_large/4 $section_padding_horizontal_large/10;
    }

    #about {
        .about { ul { text-align: left; } }
        .screenshot { text-align: center; }
    }

    #pricing {
        .pricing_lite {
            width: 100%;
            margin-bottom: 5em;
        }

        .pricing_pro { width: 100%; }

        .section_content {
            flex-direction: column;
            align-items: center;
        }
    }
}
